name: Frontend

on:
  push:
    branches:
      - 'master'
      - '[0-9].[0-9]+'
  pull_request: ~

jobs:
  frontend:
    name: ${{ matrix.script }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        script: ['build', 'test']

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '18'

      - run: yarn install

      -
        run: yarn playwright install
        if: ${{ matrix.script == 'test' }}

      - run: yarn run ${{ matrix.script }}
